<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{description}}" />
    <meta
        name="keywords"
        content="Klinik Edeva, Klinik Edeva Tasikmalaya, klinik kecantikan Tasikmalaya, klinik kulit Tasikmalaya, perawatan wajah Tasikmalaya, treatment wajah Tasikmalaya, skincare clinic Tasikmalaya"
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{canonicalUrl}}" />

    <title>{{title}}</title>

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{canonicalUrl}}" />
    <meta property="og:site_name" content="Klinik Edeva" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />

    {{structuredData}}
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.webp" />

    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/slick.css" />
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css" />
    <link rel="stylesheet" href="assets/css/vendor/wow.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/twentytwenty.css" />
    <link rel="stylesheet" href="assets/css/vendor/datetime.css" />
    <link rel="stylesheet" href="assets/css/vendor/classic.css" />
    <link rel="stylesheet" href="assets/css/vendor/classic.date.css" />
    <link rel="stylesheet" href="assets/css/vendor/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
</head>
