<!-- HEADER MENU START -->
<header class="header header-1">
    <div class="container">
        <div class="main-menu">
            <nav class="navigation">
                <div class="left-side col-3">
                    <a href="index.html" class="d-flex align-items-center">
                        <img src="assets/media/logo.webp" alt="/logo" class="header-logo" />
                    </a>
                </div>
                <div class="main-menu__nav">
                    <ul class="main-menu__list">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="main-menu__right">
                    <div class="right-side">
                        <div class="align-items-center ui-gap-40 d-xl-flex d-none">
                            <a
                                href="https://linktr.ee/dr.ulli?utm_source=website&utm_medium=social&utm_content=book_now"
                                class="cus-btn-2"
                            >
                                <img src="assets/media/icons/circle-arrow.svg" alt="arrow" class="arr-2" />
                                <span class="text">Book Now</span>
                                <span class="circle"></span>
                                <img src="assets/media/icons/circle-arrow-2.svg" alt="arrow" class="arr-1" />
                            </a>
                        </div>
                    </div>
                    <a href="" class="d-xl-none d-flex main-menu__toggler mobile-nav__toggler">
                        <img src="assets/media/vector/menu-2.webp" alt="" />
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="sticky-header stricked-menu">
    <div class="container">
        <div class="sticky-header__content"></div>
    </div>
</div>
<!-- HEADER MENU END -->
