<!-- Services Section Start -->
<section class="services-sec text-center mt-140 mb-140 wow fadeInUp animated" data-wow-delay="300ms">
    <div class="container">
        <div class="heading ui-mb-60">
            <p class="eyebrow ui-mb-10">Our Services</p>
            <h2 class="ui-mb-16">Enhance Your Beauty with Expert Care</h2>
            <p class="ui-mb-35">
                Discover our range of services designed to enhance your beauty through expert care and<br
                    class="d-md-block d-none"
                />
                personalized solutions.
            </p>
            <a href="services" class="cus-btn mx-auto">
                <img src="assets/media/icons/circle-arrow.svg" alt="arrow" class="arr-2" />
                <span class="text">Services</span>
                <span class="circle"></span>
                <img src="assets/media/icons/circle-arrow.svg" alt="arrow" class="arr-1" />
            </a>
        </div>
        <div class="slider-block">
            <div class="services-slider row" data-service-list="slider"></div>
            <ul class="services-pagination slick-dots" aria-label="Halaman layanan"></ul>
            <div class="slider-arrows">
                <a href="javascript:;" class="arrow-btn btn-prev" data-slide="services-slider">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="javascript:;" class="arrow-btn btn-next" data-slide="services-slider">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
